---
// Importación de componentes y layouts necesarios
import Layout2 from "../../layouts/Layout2.astro";
import Navbar from "../../components/Navbar";

// Importación de componentes específicos de cursos y secciones
import Footer from "../../components/Footer.astro";
import { dataCursos } from "../../data/courses.ts"; // Importación de la fuente de datos de los cursos
import CardBanner_Curso from "../../components/CardBanner_Curso.astro";

// se desactiva el prerenderizado de la página, ya que esta pagina es dinámica y renderisada en el cliente (hybrid)
export const prerender = false;


// Obtención del parámetro 'id_curso' de la URL
const { id_curso } = Astro.params;

// Búsqueda del curso especificado por el ID. Si no se encuentra, se redirige a la página de error 404.
const curso = dataCursos.find((curso) => Number(curso._id) === Number(id_curso));
if (!curso) {
  // Redirección a la página de error 404 si el curso no existe
  return Astro.redirect("/404");
}

// Extracción de propiedades del curso encontrado para su uso en el componente
const { _id: id, title, imagenURL, descripcionCorta } = curso;



---

<Layout2 title={`Curso ${title}`}>

	<Navbar slot="navbar" client:only=true />
	<CardBanner_Curso curso={curso} />

  <!-- Contenedor Principal -->
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
	<!-- Fila con distribución de columnas -->
	<div class="flex flex-wrap -mx-3">
	<!-- Columna Izquierda -->
	<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
	<div class="border border-dashed  bg-base-300 border-gray-400 rounded-box h-64">
	  <!-- Contenido de la columna izquierda -->
	</div>
	</div>
	<!-- Columna Derecha -->
	<div class="w-full md:w-1/2 px-3">
	<div class="border border-dashed  bg-base-300 border-gray-400 rounded-box h-64">
	  <!-- Contenido de la columna derecha -->
	</div>
	</div>
	</div>
  </div>



	<Footer slot="footer" />
</Layout2>
